{% extends 'base.html.twig' %}

{% block title %}Hello CalculatorController!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Калькулятор</h1>

        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        <div class="row align-items-center">
            <div class="col">
                {{ form_errors(form.first_argument) }}
                <label for="firs_argument" class="form-label">Аргумент 1</label>
                {{ form_widget(form.first_argument, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col">
                {{ form_errors(form.operation) }}
                <label for="operation" class="form-label">Операция</label>
                {{ form_widget(form.operation, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col">
                {{ form_errors(form.second_argument) }}
                <label for="second_argument" class="form-label">Аргумент 2</label>
                {{ form_widget(form.second_argument, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col mx-auto gap-2 d-grid">
                <button type="submit" class="btn btn-primary mt-4">Вычислить</button>
            </div>
            {% if calculator is not null %}
                <div class="row">
                    <div class="col alert alert-success">
                        {{ calculator }}
                    </div>
                </div>
            {% endif %}
        </div>
        {{ form_end(form) }}

    </div>
{% endblock %}
